

@import url(//db.onlinewebfonts.com/c/23276d946be6c02f2cd504db6a77e13b?family=Compasse);
@import url('http://fonts.cdnfonts.com/css/better-grade');
@font-face {font-family: "Compasse"; src: url("//db.onlinewebfonts.com/t/23276d946be6c02f2cd504db6a77e13b.eot"); src: url("//db.onlinewebfonts.com/t/23276d946be6c02f2cd504db6a77e13b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23276d946be6c02f2cd504db6a77e13b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/23276d946be6c02f2cd504db6a77e13b.woff") format("woff"), url("//db.onlinewebfonts.com/t/23276d946be6c02f2cd504db6a77e13b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/23276d946be6c02f2cd504db6a77e13b.svg#Compasse") format("svg"); }

#svg1{
      
    background-size: cover; 
    background-position: center;
     background-size: cover; 
     background-position: center;
     width: 480px; height: 480px;
  }

.per_close_2{

    display:none;
    
  }
  #divimage3,#divimage2{
  
    font-size: 30px;
    font-weight: 500;
    color:black;
  }
  
  
  .personalize_body {
              position: fixed;
              display: none;
              width: 90%;
              height: 80%;
              left: 5%;
              top: 10%;
              right: 5%;
              bottom: 10%;
              background-color: white;
              overflow: auto;
              box-shadow: 0px 0px 15px black;
              z-index:999;
  
             
  
          }
  
          .personalize_content {
              display: flex;
              width: 100%;
              height: 100%;
              background-color: white;
              position: absolute;
              flex-direction: row;
              align-content: stretch;
          }
  
          .per_block_left {
              background-color: white;
              width: 50%;
              display: flex; 
               justify-content: center;
          }
  
          .per_block_right {
              background-color: white;
              width: 50%;
              display: flex;
              flex-direction: column;
          }
  
          .right_row {
              background-color: white;
              /* flex-grow: 1; */
              width: 100%;
          }
  
          .per_close {
              display: flex;
              justify-content: flex-end;
              background-color: white;
          }
  
          .close_img {
              width: 8%;
              height: auto;
              background-color: white;
          }
  
          .per_title {
              display: flex;
              justify-content: flex-start;
              margin-left: 10%;
              margin-right: 10%;
              background-color: white;
          }
  
          .per_edit_text {
              width: 80%;
              font-size: large;
              padding: 12px 12px;
              /* margin: 8px 0; */
              margin-left: 10%;
              margin-right: 10%;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
          }
  
          .per_title_add_emoji {
              margin-left: 10%;
              margin-right: 10%;
          }
  
          .per_emoji_block {
              margin-left: 10%;
              margin-right: 10%;
              padding-left: 10%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              overflow-x: scroll;
          }
  
          .per_button_save {
              width: 80%;
              margin-top: 10%;
              font-size: large;
              padding: 20px 12px;
              /* margin: 8px 0; */
              margin-left: 10%;
              margin-right: 10%;
              display: inline-block;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              background-color: black;
              color: white;
          }
  
          .per_emoji_image {
              width: 10%;
              height: auto;
          }
  
          .per_button_save:hover {
              background-color: grey;
          }
  
          /* .per_featured_img {
              width: 50%;
              margin: 25%;
          } */
  
          .touter {
              padding: 1rem;
              width: 100%;
              border: 1px solid black;
          }
  
          .intext {
              width: 500px;
              height: 70px;
              border: 1px solid #ccc;
  
          }
  
          #container1 {
      position:relative;
      width:100%;
      text-align:center;
      max-width:600x;
      min-width:300px;
  }
  #image1 {
      width:100%;
      height:100%;
      background:blue;
      color:#fff;
  }
  
  #image2 {
      position:absolute;
      top:35%;
      left:23%;
      /* width:30%;
      height:5%; */
  /*     background:red; */
  }
  
  
  /* media queries */
  @media (max-width: 730px) { 
  
  /* 
  .product-single__meta{
    
   margin-top:40%; 
  }
    
     */

     #svg1{
      
        background-size: cover; 
        background-position: center;
         background-size: cover; 
         background-position: center;
         width:100%; height: 100%;
      }
    
  /*   pop up responsive start */
    
    .personalize_content {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: white;
      position: absolute;
      flex-direction: column;
      align-content: stretch;
      
     
  }
  .per_block_left {
      background-color: white;
      width: 100%;
      display: flex;
      justify-content: center;
  }
    .per_block_right {
      background-color: white;
      width: 100%;
      display: flex;
      flex-direction: column;
  }
    #image1 {
      width: 100%;
      background: blue;
      height: 100%;
      color: #fff;
  }
   .per_title h1{
     
     text-align:center;
     font-size:1.5rem;
     
   }
    .right_row h5{
      text-align:center;
     font-weight:400;
      font-size:1rem;
      margin-top:1rem;
      margin-bottom:1rem;
    }
   .per_emoji_block input{
      padding:0;
   }
      
  #divimage2{
  
    font-size: 1rem;
    font-weight: 500;
    
    color:black;
  }
    #divimage3{
  
    font-size: 1.5rem;
    font-weight: 500;
    
    color:black;
  }
    
    .per_block_right {
     
      padding-bottom: 3rem;
       padding-top: 1rem;
  }
    
  /*   cros button */
    .close_img {
      width: 14%;
      position: absolute;
      right: 0;
      top: 0;
      height: auto;
      
      background: transparent;
  }
      
    
     /*   pop up responsive end */
  }
  
  
  .per_emoji_block input{
      padding:0;
    background:transparent;
   }
  
  
  #self_error1{
        
        display:none;
    text-align:center;
    color:red;
        
  }


  textPath{
      font-size: 14px;
     
      text-transform: uppercase;
  }
  #input1{
    text-transform: uppercase;

  }

  /* #color_svg_1,#color_svg_2{
    font-family: 'Better Grade';
    font-weight: 900;
  }
   */
  